<!-- views/partials/navbar.handlebars -->

<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                Anime Api
            </a>
        </div>

        {{#if currentUser}}
            <div class="pull-right">
                <a href="/logout">Logout</a>
            </div>
        {{else}}
            <div class="pull-right">
                <a class="btn btn-primary navbar-btn" href="/login">Login</a>
                <a class="btn btn-primary navbar-btn" href="/sign-up">Sign Up</a>
            </div>
        {{/if}}

    </div>
</nav>
