<!-- views/anime-results.handlebars -->

<br>
<h1>Results</h1>
<br>
<div class="row">
    {{#each anime}}
        <div class="col-md-4 mt-4">
            <div class="card" style="width: 18rem; height: 40rem;">
              <img src="{{this.image_url}}" class="card-img-top" height="400">
              <div class="card-body">
                <h5 class="card-title">
                    <a href="/animes/{{this.mal_id}}">{{this.title}}</a>
                </h5>
                <p class="card-text">{{this.synopsis}}</p>
              </div>
            </div>
            <br>
        </div>
    {{/each}}
</div>
