<!-- views/index.handlebars -->

<div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4 ">
    <form action="/search" method="post">
      <legend>Search</legend>
      <div class="form-group">
        <label for="title">Enter Anime Title</label>
        <input type="text" name="title" class="form-control" id="title" placeholder="Anime Title">
      </div>

      <div class='text-right'>
        <button type="submit" class="btn btn-primary">Search</button>
      </div>
    </form>
    </div>
</div>
